<mat-card class='vehicle-details-card'>
    <div>
        <span><b>{{selectedVehicle.name}}</b></span>
    </div>
    <div>
        <span>Status: {{selectedVehicle.status}}</span>
    </div>
    <div>
        <span>Type: {{selectedVehicle.type}}</span>
    </div>
    <div>
        <span>Plates number: {{selectedVehicle.platesNumber}}</span>
    </div>
    <div>
        <span>Color: {{selectedVehicle.color}}</span>
    </div>
    <div>
        <span>Range: {{selectedVehicle.rangeKm}} km</span>
    </div>
    <div>
        <span>Battery level: {{selectedVehicle.batteryLevelPct}}%</span>
    </div>
</mat-card>